.item-container{
    background-color: hsl(209, 100%, 83%);
    width: 290px;
    height: 365px;
    padding: 20px;
    border-radius: 5px;

    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.container-products-images{
    width: 250px;
    border-radius: 15%;
    margin-bottom: 15px;

    overflow: hidden;
}

.products-images{
    display: block;
    width: 250px;
}

.product-text{
    font-family: 'Quicksand';
    color: hsl(209, 59%, 22%);
}

.product-text__name{
    font-weight: lighter;
}